#contact_modal,
#ligthbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
}

.modal,
.modal-ligthbox {
    margin: 5% auto;
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    position: relative;

}

.modal-ligthbox {
    background-color: white;
    width: 40%;
    height:550px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    i {
        color: $colorPrimary;
        cursor:pointer;
       
    }
    &__header {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items:baseline;
        .close-ligthbox{
            @include btn-modal;
        }
    }
    &__slider {
        width: 100%;
        height: 100%;
        display: flex;
    }
    .slide {

        &__prev {
            width: 10%;
            height:100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__next {
            width: 10%;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__img {
            width: 80%;
            height: 550px;
            margin: 0 5px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            overflow: hidden;
            position: relative;
            top: -45px;
            .card-link__media {
                width: 100%;
                height: auto;
                max-height: 550px;
                object-fit: contain;

            }
        }
        .next,
        .previous {
            position: relative;
            top: -50px;
            @include btn-modal;
        }

    }

}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
    width:30px;
   @include effect-modal;
}

.modal header h2 {
    font-size: 32px;
    font-weight: normal;
    text-align: center;
}

