.photographer-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    .article {
        justify-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__link {

            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items: center;
            text-decoration: none;
        }
        &__title {
            @include title-name;
        }
        &__img{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
        &__location {
            color: $colorPrimary ;
        }

        &__price {
            color: $colorGray;
        }
    }
}

