/** Name photographer **/

@mixin title-name {
    color: $colorSecondary;
    font-size: 36px;
}

@mixin img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/***********/

@mixin btn {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: $colorPrimary;
    border-radius: 5px;
    box-shadow: 0 3px  $colorGray;
    cursor: pointer;
    @include effect-btn;
}

@mixin effect-btn {
    &:hover{
        transform: translateY(3px);
        box-shadow: 0 1px  darken($colorGray,5%);
    }
    &:active {
        transform: translateY(3px);
        box-shadow: 0 1px  darken($colorGray,5%);
    }
}

@mixin effect-modal {
    &:hover,
    &:active{
        transform: translateY(1px);
    }
}